[submodule "plugins/hash"]
	path = plugins/hash
	url = https://github.com/mlevans/leaflet-hash
[submodule "plugins/fullscreen"]
	path = plugins/fullscreen
	url = https://github.com/IL2HorusTeam/leaflet.fullscreen
[submodule "plugins/measure"]
	path = plugins/measure
	url = https://github.com/IL2HorusTeam/leaflet.measure
[submodule "plugins/coordinates"]
	path = plugins/coordinates
	url = https://github.com/IL2HorusTeam/Leaflet.Coordinates
